:root{
  --primary:#7BFFF4; /*123,255,244*/
  --secondary:#000744; /*0,7,68*/
}
body{
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
  margin: 5px 10px;
}

h1, p, ul, li{
  margin: 0px;
  padding: 0px;
}

nav{
  background: rgba(0,7,68, 0.3);
  display: flex;
  box-shadow: 8px 10px 10px rgba(20,7,68, 0.4);
  border-radius: 0px 0px 10px 0px;
  height: 50px;
  position:  relative;
}
nav h1{
  color: white;
  margin-left: 5px;
}
nav ul{
  list-style-type: none;
  display: flex;
  float: right;
  color:black;
  position:  absolute;
  right:0px;
  margin: 0px 15px;
  align-self: center;
}
nav li{
  padding:  10px 10px;
}
nav li:hover{
  background: var(--primary);
}
